body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:rgb(122, 95, 82);
    color: rgb(99, 27, 38);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(61, 48, 19);
  }